.card {
  background: transparent url(../images/card.svg) center no-repeat;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
