.cards {
  /* font */
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
