.footer {
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
}

.footer-middle ul,
.footer-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-middle a,
.footer-right a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.footer-middle a:hover,
.footer-right a:hover {
  text-decoration: underline;
}

.footer-left p {
  font-size: 14px;
}

.footer-right p {
  margin-bottom: 5px;
}

.footer-right i {
  margin-right: 8px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    margin-bottom: 15px;
  }
}
