.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 200px; /* desktop size */
  height: auto;
}

@media (max-width: 600px) {
  .header {
    padding: 28px 0 32px 27px;
    margin: 0;
  }
  .header__logo {
    width: 120px; /* mobile size */
  }
}
