.page {
  font-family: inter, arial, Helvetica, sans-serif;
}

.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 882px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.page__content {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% -40px);
  }
}
