.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding: 40px 0 20px;
}

.profile__info {
  display: grid;
  grid-gap: 7px 17px;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  align-items: baseline;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease,
    border-color 0.2s ease;
}

.profile__add-button:hover {
  opacity: 1;
  border-color: #ffffff;

  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px) scale(1.03);
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}



  @media screen and (max-width: 768px) {
    .profile {
      /*background-color: pink;*/
      padding: 43px 0 21px;
      text-align: center;
      flex-direction: column;
    }

    .profile__title {
      font-size: 22px;
      line-height: 38px;
      max-width: 340px;
    }

    .profile__image {
      margin: 0 0 30px 0;
    }
  

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 288px;
  }

  .profile__description {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin-bottom: 36px;
    text-align: center;
  }

  .profile__title {
    font-size: 22px;
    max-width: 222px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }
}
